---
layout: page
title: Gems
permalink: /gems/
tags: gems
---

<div class="py2">
  <p>I built FrontendGems in an attempt to create a collection of the finest web components, and a place where leading developers could collaborate to solve real world problems with the most elegant solution.</p>
  {% for page in site.pages %}
      {% if page.tags == "gem" %}
        <a title="Read about the {{ page.title }} Gem" href="{{ site.baseurl }}{{ page.url }}">
          <h3 class="my1">
            {{ page.title }}
          </h3>
        </a>
      {% endif %}
  {% endfor %}
</div>
